{% extends "frontEnd/main-layout.html" %}

{% block main %}
<form action="." class="form formReg" method="POST">
    {% csrf_token %}

    {{ form.username }}
    <input type="email" name="email" maxlength="254" id="id_email">
    <input type="password" name="password" required id="id_password">
    <input type="password" name="password2" required id="id_password2">
    {{ form.errors }}
    <input type="submit" style="--Color1: #00ee28;" id="DefaultBTNForm" class="DefaultBTN" value="Submit" style="--Color1: #00ee28;">
</form>
{% endblock %}

{% block scripts %}{% endblock %}